@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Montserrat:wght@300;900&family=Raleway+Dots&family=Shrikhand&family=Wire+One&display=swap');

html{
	font-size: 16px;
	font-family: monospace;
}

body{
	cursor: none;
	text-align: center;
	background-color: aliceblue;
}

body, h1, h2, h3, h4, h5, h6{
	margin: 0;
}

ul{
	list-style: none;
	margin: 0;
}

a{
	text-decoration: none;
	color:  hotpink;
}

a:hover{
	color: blue;
}

#header {
	height: 200px;
	background-image: url(images/banner.jpg);
	background-position: center;
	text-align: center;
}

.title{
	background-color: rgba(230, 248, 255, 0.9);
	display: inline-block;
	padding: 10px;
	margin: 40px;
	width: 75vw;

}

.title ul{
	display: flex;
	justify-content: center;
}

.title ul li{
	display: inline-block;
	margin: 10px;
}

button{
	background-color: transparent;
	border: none;
	color: blue;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	font-family: monospace;
}

button:hover{
	color: hotpink;
}

#main{
	display: inline-block;
	text-align: left;
}

.section{
	display: flex;
	margin: 20px;
	filter: drop-shadow(1px 1px 2px grey);
	background-color: aliceblue;
	width: 700px;
}

.section img{
	width: 200px;
}

.section:hover{
	background-color: lightpink;
}

.desc{
	padding: 20px;
}

.desc h3{
	font-size: 2rem;
}

.desc h5{
	font-size: 1.2rem;
	margin-top: 10px;
}

.video {
	filter: drop-shadow(1px 1px 2px grey);
	margin: 20px;
	width: 700px;
	background-color: aliceblue;
	text-align: center;
}

.video:hover{
	background-color: lightpink;
}

.video h3{
	font-size: 20px;
	height: 50px;
	position: relative;
	top: 10px;
}

#footer{
	position: fixed; /* sticky */
	bottom: 0;
	width: 100%;
	background-color: skyblue;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

#popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

#popup div{
	position: relative;
	top: 35%;
	background-color: skyblue;
	height: 200px;
	opacity: 97%;
	padding: 20px;
	border-radius: 25px;
	filter: drop-shadow(3px 3px 4px grey);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-family: monospace;
}

#popup h1{
	margin: 25px;
	font-weight: 300;
}

#popup p{
	font-size: 50px;
	margin: 0;
	filter: drop-shadow(1px 1px 1px grey);
}

#catEmoji1, #catEmoji2{
	font-size: 30px;
}

#cursor{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 100%;
	transition: all 200ms ease-out;
	position: fixed;
	pointer-events: none;
	left: 0;
	top: 0;
	transform: translate(calc(-50% + 15px), -50%);
}

#cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}









